<template lang="pug">
div.uk-grid-collapse.uk-child-width-1-3(uk-grid)
	select.uk-select(v-model="year", @change="$emit('update:value', prepareEmit)")
		option(disabled, :value="null") Año
		option(v-for="i in yearsArray", :value="i") {{ fillZero(i) }}
	select.uk-select(v-model="month", @change="$emit('update:value', prepareEmit)")
		option(disabled, :value="null") Mes
		option(v-for="i in 12", :value="i - 1") {{ fillZero(i) }}
	select.uk-select(v-model="day", @change="$emit('update:value', prepareEmit)")
		option(disabled, :value="null") Dia
		option(v-for="i in daysArray", :value="i") {{ fillZero(i) }}

	select.uk-select(v-model="hour", @change="$emit('update:value', prepareEmit)")
		option(disabled, :value="null") Hora
		option(v-for="i in 12", :value="i") {{ fillZero(i) }}
	select.uk-select(v-model="minutes", @change="$emit('update:value', prepareEmit)")
		option(disabled, :value="null") Minutos
		option(v-for="i in minutesArray", :value="i") {{ fillZero(i) }}
	select.uk-select(v-model="ampm", @change="$emit('update:value', prepareEmit)")
		option(disabled, :value="null") Horario
		option(:value="false") AM
		option(:value="true") PM
p.text-small Formato Fecha:&ensp;
	code "AAAA-MM-DD"
p.text-small Formato Hora:&ensp;
	code "hh:mm AM|PM"
</template>

<script>
import { computed, onBeforeMount, provide, ref, watch } from 'vue'
import { fillZero } from '@/lib'
import { getMonthDays } from '@/lib/dates'

export default {
	name: 'InputDate',
	props: {
		value: {
			type: String,
			required: true
		}
	},
	setup(props) {
		const ampm = ref(false)
		const year = ref(0)
		const month = ref(0)
		const day = ref(0)
		const hour = ref(0)
		const minutes = ref(0)

		const loadData = (stringValue) => {
			const [date, time] = stringValue.split('T')

			let ampmValue = false
			let [yearValue, monthValue, dayValue] = date.split('-').map(num => parseInt(num))
			let [hourValue, minutesValue] = time.split(':').map(num => parseInt(num))
			monthValue -= 1

			if (hourValue > 12) {
				hourValue -= 12
				ampmValue = true
			}

			ampm.value = ampmValue
			year.value = yearValue
			month.value = monthValue
			day.value = dayValue
			hour.value = hourValue
			minutes.value = minutesValue
		}

		const daysArray = computed(() => getMonthDays(year.value, month.value + 1))
		const minutesArray = computed(() => {
			let arr = []
			for (let i = 0; i < 60; i += 5) arr.push(i)
			return arr
		})
		const yearsArray = computed(() => {
			let startYear = (new Date()).getFullYear() - 5
			let arr = []
			for (let i = startYear; i < startYear + 10; i++) arr.push(i)

			return arr
		})

		const prepareEmit = computed(() => {
			let retHour = hour.value
			if (ampm.value) {
				retHour += 12
				if (retHour == 24) {
					retHour = 0
				}
			}
			return `${year.value}-${fillZero(month.value + 1)}-${fillZero(day.value)}T${fillZero(retHour)}:${fillZero(minutes.value)}`
		})

		onBeforeMount(() => loadData(props.value))
		watch(props, () => loadData(props.value))

		return {
			fillZero,
			prepareEmit,

			yearsArray,
			daysArray,
			minutesArray,

			year,
			month,
			day,
			hour,
			minutes,
			ampm
		}
	}
}
</script>

<style lang="sass" scoped>
p.text-small
	margin: 0.4em
</style>