<template lang="pug">
div.autocomplete(v-if="!isEmpty(target) && computedAutoComplete(target).length > 0 && !isCompleted(target)")
	ul.uk-list.uk-list-square
		li(v-for="field in computedAutoComplete(target)", @click="$emit('update:target', field.value)") {{ field.display }}
</template>

<script>
import { computed } from 'vue'
export default {
	name: 'InputAutocomplete',
	props: {
		target: {
			required: true
		},
		autoComplete: {
			type: Array,
			required: true
		}
	},
	setup({ autoComplete }) {
		const parsedAutoComplete = computed(() => autoComplete.map(el => {
			if (el instanceof Object) {
				return el
			}

			return {
				display: el,
				value: el
			}
		}))

		const computedAutoComplete = (target) => parsedAutoComplete.value.filter(el => {
			if (!target) return true

			const regexp = new RegExp(target, 'i')
			return regexp.test(el.display)
		})

		const isEmpty = (target) => !target || target == ''

		const isCompleted = (target) => {
			return parsedAutoComplete.value.map(el => el.value).indexOf(target) != -1
		}

		return {
			computedAutoComplete,
			isEmpty,
			isCompleted
		}
	}
}
</script>

<style lang="sass" scoped>
div.autocomplete
	min-height: 100px
	max-height: 180px
	overflow-y: scroll
	margin: 0.5em
	padding: 0.5em
	border: 1px solid #ccc
li
	border-bottom: 1px solid #ccc
	cursor: pointer
</style>