<template lang="pug">
div.markdown-field(v-html="dataHTML(data)")
</template>

<script>
import Markdown from 'js-markdown'

export default {
	name: 'MarkDown',
	props: {
		data: String
	},
	setup() {
		const dataHTML = (data) => (data)? Markdown.parse(data, { dialect: Markdown.Dialect.DERBY }) : null

		return {
			dataHTML
		}
	}
}
</script>