<template lang="pug">
li(:class="{'uk-active': activePath == route.link}")
	router-link(:to="route.link")
		icon {{ route.icon }}
		| &ensp;{{ route.name }}
</template>

<script>
import { useRoute } from 'vue-router'
import { computed } from 'vue'
import Icon from './Icon.vue'

export default {
	name: 'NavBarItem',
	components: {
		Icon
	},
	props: {
		route: {
			type: Object,
			required: true
		}
	},
	setup() {
		const activePath = computed(() => useRoute().path)

		return {
			activePath
		}
	}
}
</script>