<template lang="pug">
div.uk-navbar-container(uk-navbar)
	div.uk-navbar-left
		router-link.uk-navbar-item.uk-logo(to='/')
			img.image-logo(src="../assets/logo.png")
			| Whats-Now

		ul.uk-navbar-nav(v-if="windowWidth > maxWidth")
			nav-bar-item(v-for="route in routes", :route="route")
		div.uk-navbar-right(v-if="windowWidth > maxWidth", v-show="userModule")
			ul.uk-navbar-nav
				nav-bar-item(:route="closeButton", style="margin-top: 0; margin-bottom: 0;")
		div.uk-navbar-right(v-else, @click="switchShow")
			a.uk-navbar-item
				icon menu{{ (isHidden)? null : '_open' }}

	div.uk-navbar-left.stack(v-show="windowWidth < maxWidth && !isHidden")
		ul.uk-navbar-nav
			nav-bar-item(v-for="route in routes", :route="route", @click="switchShow")
			nav-bar-item(v-if="userModule", :route="closeButton", @click="switchShow")
</template>

<script>
import { appRoutes } from '@/router'
import { ref, onMounted } from 'vue'
import { useStore } from 'vuex'

import Icon from './Icon.vue'
import NavBarItem from './NavBarItem.vue'

export default {
	name: 'NavBar',
	components: {
		Icon,
		NavBarItem
	},
	setup() {
		const store = useStore()
		const userModule = ref(false)
		const routes = appRoutes.map(el => {
			return {
				link: el.path,
				icon: el.icon,
				name: el.name
			}
		})

		const closeButton = {
			link: '/logout',
			icon: 'exit_to_app',
			name: 'Cerrar Sesion'
		}

		const maxWidth = 960
		const windowWidth = ref(window.innerWidth)
		const isHidden = ref(true)
		window.addEventListener('resize', () => {
			windowWidth.value = window.innerWidth
			if (window.innerWidth < maxWidth) {
				isHidden.value = true
			}
		})

		const switchShow = () => {
			isHidden.value = !isHidden.value
		}

		onMounted(async () => {
			let conf = await store.getters['config/userModule']
			userModule.value = conf.userModule
		})

		return {
			routes,
			closeButton,
			maxWidth,
			windowWidth,
			isHidden,
			userModule,
			switchShow
		}
	}
}
</script>