<template lang="pug">
i.uk-icon(:uk-icon="`icon: ${value}`")
</template>

<script>
import UIkit from 'uikit'
import Icons from 'uikit/dist/js/uikit-icons'

UIkit.use(Icons)

export default {
	name: 'UkIcon',
	props: {
		value: String
	}
}
</script>