<template lang="pug">
span.waiting(v-for="i in 3") .
</template>

<script>
export default {
	name: 'WaitingPoints'
}
</script>

<style lang="sass" scoped>
span.waiting
	animation-duration: 1s
	animation-iteration-count: infinite
	animation-timing-function: linear
	animation-name: waiting-animation

	@for $i from 1 through 3
		&:nth-child(#{$i})
			animation-delay: $i * 0.3s

@keyframes waiting-animation
	0%, 100%
		opacity: 100%

	50%
		opacity: 10%
</style>