div.uk-grid
	margin-left: 0
	> button
		padding: 0
	> *
		padding-left: 5px

.uk-child-width-1-7 > *
	width: (100% / 7) !important

.grid-no-spacing,
.grid-no-spacing > .uk-grid-margin
	margin-top: 0 !important

.uk-grid > div.onhover:hover
	opacity: 0.7
	user-select: none

.grid-divider > *
	border-right: 1px #c9c9c9 solid 

.grid-divider-bottom > *
	border-bottom: 1px #c9c9c9 solid 

@for $i from 0 to 8
	.uk-width-#{$i}-7
		width: ((100% / 7) * $i) !important