@import './materialIcon.sass'
@import './transition.sass'
@import './form.sass'
@import './others.sass'
@import './grid.sass'

=margin-side($margin)
	margin-left: $margin
	margin-right: $margin

=margin-vertical($margin)
	margin-top: $margin
	margin-bottom: $margin

$smallWidth: 630px
$mediumWidth: 960px

html
	background-color: #fafafa !important

.bold
	font-weight: bolder

.text-small
	font-size: 14px

a.uk-logo > img.image-logo
	max-height: 40px
	margin-right: 15px

a.uk-button.uk-button-text,
a.uk-button.uk-button-link
	margin: 0.75em

li.list-item
	margin: 1em

.container
	margin: 2em

#navbar
	display: block

div.uk-navbar-left
	width: 100%
	> ul.uk-navbar-right
		+margin-vertical(0)

div.uk-navbar-left.stack > ul.uk-navbar-nav
	display: block
	> li > a
		display: block
		min-height: 40px

div.uk-navbar-container
	margin-bottom: 2em

.full
	min-width: 100%

div.h-spacer
	display: inline
	margin-left: 1em

div.v-spacer
	margin-top: 2em

div.uk-card.card-page
	margin: 1em

	@media screen and (max-width: $mediumWidth)
		margin: 0.5em

div.uk-card.card-form
	margin: 1em
	+margin-side(auto)
	max-width: 60%
	@media screen and (max-width: $mediumWidth)
		max-width: 75%
	
	@media screen and (max-width: $smallWidth)
		max-width: 95%
	