<template lang="pug">
ul.uk-list.uk-list-hyphen
	li
		b Numero de Identificacion:
		| &ensp;{{ fullNit(value) }}
	li
		b Nombre:
		| &ensp;{{ fullName(value) }}
	li
		b Correo Electronico:
		| &ensp;
		a(:href="`mailto:${value.email}`") {{ value.email }}
	li
		b Telefonos:
		ul.uk-list.uk-list-disc
			li(v-for="phone in value.phones")
				a(:href="`tel:${phone}`", v-if="phone.toString().length >= 10") {{ phoneFormat(phone) }}
				a(:href="`tel:${phone}`", v-else) {{ phone }}
</template>

<script>
import { fullName, phoneFormat } from '@/lib/models/clients'
import { capitalize } from '@/lib/parsing'

export default {
	name: 'Data/Summary',
	props: {
		value: Object
	},
	setup() {
		return {
			fullName: (value) => capitalize(fullName(value)),
			fullNit: (value) => `${value.nitType} ${value.nit}`,
			phoneFormat
		}
	}
}
</script>