<template lang="pug">
li.list-item
	a.uk-accordion-title {{ fullNit(value) }} - {{ fullName(value) }}
	div.uk-accordion-content
		client-data(:value="value")

		router-link.uk-button(:to="`/clients/set?nit=${value.nit}`") Modificar
</template>

<script>
import { fullName } from '@/lib/models/clients'
import { capitalize } from '@/lib/parsing'
import ClientData from './Data.vue'

export default {
	name: 'Client/Summary',
	components: {
		ClientData
	},
	props: {
		value: Object
	},
	setup({ value }) {
		return {
			fullName: (value) => capitalize(fullName(value)),
			fullNit: (value) => `${value.nitType} ${value.nit}`
		}
	}
}
</script>