<template lang="pug">
div.container
	h1.uk-heading-line.uk-text-center: span Calendario "{{ textMonth }} de {{ date.year }}"
	div.uk-grid-small(uk-grid)
		div.uk-width-1-1: select.uk-select(:value="date.month", @change="alterMonth($event.target.value)")
			option(v-for="i in 12", :value="i - 1") {{ getMonth(i - 1) }}
		div.uk-width-1-4: button.full.uk-button.uk-button-danger(@click="alterDate(-1)")
			icon.big keyboard_arrow_down
		div.uk-width-1-2
			input.uk-input(type="text", placeholder="Año", readonly, :value="date.year")
		div.uk-width-1-4: button.full.uk-button.uk-button-primary(@click="alterDate(1)")
			icon.big keyboard_arrow_up
	
	hr
	div.grid-divider.uk-grid-small.uk-child-width-expand.uk-text-center(uk-grid)
		div: em Domingo
		div: em Lunes
		div: em Martes
		div: em Miercoles
		div: em Jueves
		div: em Viernes
		div: em Sabado
	div.v-spacer
	div.grid-divider.grid-divider-bottom.uk-grid-small.grid-no-spacing.uk-child-width-1-7(uk-grid)
		div(:class="`uk-width-${initialOffset}-7`", v-if="initialOffset != 0")
		div.onhover(v-for="i in monthDays", @click="redirect(i)")
			p.uk-text-center(:class="{ bold: isToday(i) }") {{ fillZero(i) }}
			b(v-if="getNumberAppointments(i) == 0") Sin citas.
			b(v-else-if="getNumberAppointments(i) == 1") 1 cita.
			b(v-else) {{ getNumberAppointments(i) }} citas.
</template>

<script>
import { computed, reactive, onMounted } from 'vue'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'

import { today, months, getMonthDays, dateToString } from '@/lib/dates'
import { fillZero } from '@/lib'

import Icon from '@/components/Icon.vue'

export default {
	name: 'Appointments/Calendar',
	components: {
		Icon
	},
	setup() {
		const store = useStore()
		const router = useRouter()

		const date = reactive({
			year: today().getFullYear(),
			month: today().getMonth(),
		})

		const initialOffset = computed(() => (new Date(date.year, date.month)).getDay())
		const monthDays = computed(() => getMonthDays(date.year, date.month + 1))

		const getMonth = (month) => months[month]
		const textMonth = computed(() => months[date.month])

		const alterDate = (add) => {
			let newMonth = date.month + add

			if (0 > newMonth || newMonth > 11) {
				if (add == -1) {
					date.month = 11
				} else {
					date.month = 0
				}
				date.year += add
			} else {
				date.month = newMonth
			}
		}

		const alterMonth = (month) => {
			date.month = parseInt(month)
		}

		const getNumberAppointments = (day) => {
			let key = dateToString(new Date(date.year, date.month, day))

			return store.getters['appointments/getDayNumber'](key)
		}

		const redirect = (day) => {
			let key = dateToString(new Date(date.year, date.month, day))

			router.push(`/appointments/byDate/${key}`)
		}

		const isToday = (day) => {
			return dateToString(new Date(date.year, date.month, day)) == dateToString(today())
		}

		onMounted(async () => {
			let clientAwait = store.dispatch('clients/load')
			await store.dispatch('appointments/load')
			await clientAwait
		})

		return {
			date,
			getMonth,
			textMonth,

			initialOffset,
			monthDays,

			alterDate,
			alterMonth,

			getNumberAppointments,
			redirect,
			fillZero,
			isToday
		}
	}
}
</script>

<style lang="sass" scoped>
div > em
	color: black
</style>