<template lang="pug">
h1.uk-heading.uk-text-center(v-if="appointment == null") Cargando
	waiting-points
div.uk-card.card-page.uk-card-default(v-else)
	div.uk-card-header
		h1.uk-heading Eliminar cita.
	div.uk-card-body
		appointment-data(:value="appointment")
		h2.uk-heading-line.uk-text-center: span Quieres eliminar esta cita?
		div.uk-grid-small.uk-child-width-1-2(uk-grid)
			div
				button.uk-button.uk-button-danger(style="width: 100%;", @click="send") Eliminar
			div
				router-link.uk-button(style="width: 100%;", to="/appointments") Cancelar
</template>

<script>
import { inject, onMounted, ref } from 'vue'
import { useStore } from 'vuex'
import { useRoute, useRouter } from 'vue-router'

import WaitingPoints from '@/components/WaitingPoints.vue'
import AppointmentData from '@/components/appointments/Data.vue'

import { errorNames } from '@/lib/errors'
import { notify } from '@/lib'

export default {
	name: 'Appointments/Delete',
	components: {
		WaitingPoints,
		AppointmentData
	},
	setup() {
		const errorStore = inject('errorStore')
		const route = useRoute()
		const router = useRouter()
		const store = useStore()

		const appointment = ref(null)

		onMounted(async () => {
			let clientAwait = store.dispatch('clients/load')
			await store.dispatch('appointments/load')
			await clientAwait

			let gotAppointment = store.getters['appointments/asIDMap'][route.params.id]
			if (gotAppointment === undefined) {
				errorStore.commit('load', {
					name: errorNames.notFound,
					path: route.path,
					description: 'Appointment doesn\'t exist'
				})
			}

			appointment.value = gotAppointment
		})

		const send = async () => {
			try {
				await store.dispatch('appointments/remove', appointment.value.id)
			} catch (err) {
				errorStore.commit('load', {
					...err,
					path: route.path,
				})

				return null
			}

			notify({
				type: 'success',
				message: `La cita fue eliminada exitosamente`
			})
			router.push('/appointments')
		}

		return {
			appointment,
			send
		}
	}
}
</script>