<template lang="pug">
h1.uk-heading.uk-text-center(v-if="!loaded") Cargando
	waiting-points
div(v-else)
	div.container
		router-link.uk-button.uk-button-primary(to="/appointments/set") Crear
		div.h-spacer
		a.uk-button.uk-button-default(@click="reload") Refrescar
		hr

	appointments-list(:appointments="appointments")
</template>

<script>
import { onMounted, ref, computed } from 'vue'
import { useStore } from 'vuex'

import WaitingPoints from '@/components/WaitingPoints.vue'
import AppointmentsList from '@/components/appointments/List.vue'

export default {
	name: 'Appointments/Get',
	components: {
		WaitingPoints,
		AppointmentsList
	},
	setup() {
		const store = useStore()
		const loaded = ref(!store.getters['appointments/isEmpty'])
		const appointments = computed(() => store.getters['appointments/join'])

		const reload = async () => {
			loaded.value = false
			
			let clientAwait = store.dispatch('clients/reload')
			await store.dispatch('appointments/reload')
			await clientAwait

			loaded.value = true
		}

		onMounted(async () => {
			let clientAwait = store.dispatch('clients/load')
			await store.dispatch('appointments/load')
			await clientAwait

			loaded.value = true
		})

		return {
			appointments,
			loaded,

			reload
		}
	}
}
</script>