<template lang="pug">
h1.uk-heading.uk-text-center(v-if="!loaded") Cargando
	waiting-points
div(v-else)
	div.container
		h2.uk-heading.uk-text-center {{ parsedDate }}
		router-link.uk-button.uk-button-primary(to="/appointments/calendar") Volver
		hr
	appointments-list(:appointments="appointments")
</template>

<script>
import { onMounted, inject, ref, computed } from 'vue'
import { useStore } from 'vuex'
import { useRoute } from 'vue-router'

import { errorNames } from '@/lib/errors'
import { today, dateToString, parseDate, stringToDate } from '@/lib/dates'

import WaitingPoints from "@/components/WaitingPoints.vue";
import AppointmentsList from "@/components/appointments/List.vue";

export default {
  name: "Appointments/GetByDate",
  components: {
    WaitingPoints,
    AppointmentsList,
  },
  setup() {
	const errorStore = inject('errorStore')
    const store = useStore();
    const route = useRoute();

	const loaded = ref(!store.getters["appointments/isEmpty"])
	const date = ref(dateToString(today()))
	const appointments = computed(() => store.getters["appointments/getDay"](date.value))
	const parsedDate = computed(() => parseDate(new Date(...date.value.split('-'))))
		
	if (!/[0-9]{4}-[0-9]{2}-[0-9]{2}/g.test(route.params.date) || stringToDate(route.params.date).toString() == "Invalid Date") {
		errorStore.commit('load', {
			name: errorNames.data,
			path: route.path,
			description: 'The requested date is not valid'
		})
	} else {
		date.value = route.params.date
	}

    onMounted(async () => {
		let clientAwait = store.dispatch("clients/load")
	  	await store.dispatch("appointments/load")
		await clientAwait

		loaded.value = true
    })

    return {
	  appointments,
	  parsedDate,
      loaded
    }
  }
}
</script>