<template lang="pug">
div.uk-card.card-form.uk-card-default
	div.uk-card-header
		h1.uk-heading(v-if="id != null") Modificar cita
		h1.uk-heading(v-else) Crear cita
	div.uk-card-body
		div.uk-margin
			label.uk-form-label Identificacion del Cliente
			div.uk-form-controls
				input.uk-input(v-model="nit", placeholder="Identificacion del Cliente")
				p.text-small(v-if="nitData != null", style="margin-top: 10px") Cliente: "{{ nitData }}"
				input-autocomplete(v-model:target="nit", :auto-complete="nitAutocomplete")
		div.uk-margin
			label.uk-form-label Fecha de Inicio
			div.uk-form-controls
				input-date(v-model:value="startDate")
		div.uk-margin
			label.uk-form-label Fecha de Finalizacion
			div.uk-form-controls
				input-date(v-model:value="endDate")
		div.uk-margin
			button.uk-button(@click="allowDescription = !allowDescription", style="width: 100%;", :class="`uk-button-${(!allowDescription)? 'default': 'danger'}`")
				| {{ (!allowDescription)? 'Añadir Descripcion': 'Eliminar Descripcion' }}
			div.v-spacer(v-if="allowDescription")
			div.uk-grid-small(uk-grid, class="uk-child-width-1-2@s", v-if="allowDescription")
				div
					textarea.uk-textarea(:rows="lineCount", placeholder="Aqui va la Descripcion", v-model="description")
				div
					mark-down(:data="(description == null)? '`No hay contenido`' : description")
	div.uk-card-footer
		button.uk-button.uk-button-primary(@click="send") {{ (id != null)? 'Modificar' : 'Crear'}}
</template>

<script>
import { ref, computed, onMounted, watch, inject } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import { useStore } from 'vuex'

import { toNumeric, nullOnEmpty } from '@/lib/helpers'
import { fullName } from '@/lib/models/clients'
import { now, dateTimeToString } from '@/lib/dates'
import { appointmentRegexp } from '@/lib/validators'
import { errorNames } from '@/lib/errors'
import { notify } from '@/lib'

import InputAutocomplete from '@/components/InputAutocomplete.vue'
import InputDate from '@/components/InputDate.vue'
import MarkDown from '@/components/MarkDown.vue'

export default {
	name: 'Appointments/Set',
	components: {
		InputAutocomplete,
		InputDate,
		MarkDown
	},
	setup() {
		const errorStore = inject('errorStore')
		const store = useStore()
		const route = useRoute()
		const router = useRouter()

		const id = ref(null)
		const nit = ref(null)

		let nowTime = now()
		const startDate = ref(dateTimeToString(nowTime))
		nowTime.setMinutes(nowTime.getMinutes() + 5)
		const endDate = ref(dateTimeToString(nowTime))
		const allowDescription = ref(false)
		const description = ref(null)


		const handleDates = () => {
			let parsedStartDate = new Date(startDate.value)
			let parsedEndDate = new Date(endDate.value)

			if (parsedStartDate >= parsedEndDate) {
				parsedStartDate.setMinutes(parsedStartDate.getMinutes() + 5)
				endDate.value = dateTimeToString(parsedStartDate)
			}
		}

		toNumeric(nit)
		nullOnEmpty(description)
		watch(startDate, handleDates)
		watch(endDate, handleDates)
		watch(allowDescription, () => {
			if (!allowDescription.value) {
				description.value = null
			}
		})

		if (route.query.id) {
			if (appointmentRegexp.test(route.query.id)) {
				id.value = route.query.id
			} else {
				errorStore.commit('load', {
					name: errorNames.data,
					path: route.path,
					description: 'Can\'t parse Appointment ID from url'
				})
			}
		}


		const nitAutocomplete = computed(() => store.state.clients.data.map(el => {
			return {
				display: `${el.nitType} ${el.nit}`,
				value: el.nit
			}
		}))

		const nitData = computed(() => {
			let client = store.getters['clients/asMap'][nit.value]
			if (client == undefined) return null

			return `${client.nitType} ${client.nit} - ${fullName(client)}`
		})

		const lineCount = computed(() => (description.value == null)? 1 : (description.value.split('\n').length))

		onMounted(async () => {
			let clientAwait = store.dispatch('clients/load')
			await store.dispatch('appointments/load')
			await clientAwait

			if (id.value != null) {
				let appointment = store.getters['appointments/asIDMap'][id.value]
				if (appointment === undefined) {
					errorStore.commit('load', {
						name: errorNames.notFound,
						path: route.path,
						description: 'Appointment doesn\'t exist'
					})
				}

				nit.value = appointment.client.nit
				startDate.value = dateTimeToString(appointment.startAt)
				endDate.value = dateTimeToString(appointment.endAt)
				if (appointment.description !== undefined) {
					allowDescription.value = true
					description.value = appointment.description
				}
			}
		})

		const check = () => {
			if (
				nit.value == null
			) {
				notify({
					type: 'danger',
					message: 'El campos N° de Identificacion es requerido'
				})
				return false
			}

			return true
		}

		const send = async () => {
			if (!check()) return null
			
			const data = {
				client: nit.value,
				startAt: `${startDate.value}:00Z`,
				endAt: `${endDate.value}:00Z`,
				description: (allowDescription.value)? description.value : undefined
			}

			try {
				if (id.value != null) {
					await store.dispatch('appointments/update', {
						id: id.value,
						appointment: data
					})
				} else {
					await store.dispatch('appointments/create', data)
				}
			} catch (err) {
				errorStore.commit('load', {
					...err,
					path: route.path,
				})

				return null
			}

			notify({
				type: 'success',
				message: `La cita fue guardada exitosamente`
			})
			return await router.push('/appointments')
		}

		return {
			id,
			nit,
			nitAutocomplete,
			nitData,

			startDate,
			endDate,

			allowDescription,
			description,
			lineCount,

			send
		}
	}
}
</script>