<template lang="pug">
h1.uk-heading.uk-text-center(v-if="!loaded")
	| Cargando
	waiting-points
div(v-else)
	div.container
		router-link.uk-button.uk-button-primary(to="/clients/set") Crear
		div.h-spacer
		a.uk-button.uk-button-default(@click="reload") Refrescar
		hr
		input.uk-input(placeholder="Busqueda", v-model="searchTerm")
		hr

	h1.uk-heading.uk-text-center(v-if="!hasClients")
		icon.big assignment_late
		| &ensp;No hay ningun cliente guardado.
	div.uk-card.card-page.uk-card-default(v-else)
		div.uk-card-header: h1.uk-heading
			icon.big assignment_ind
			| &ensp;Lista de Clientes.
		ul.uk-card-body(uk-accordion)
			client-summary(v-for="client in getClientsAsPages[page]", :value="client")
		div.uk-card-footer
			button.uk-button.uk-button-secondary(:disabled="page == 0", @click="page--")
				icon.big keyboard_arrow_left
				| Anterior
			div.h-spacer
			code.big {{ page + 1 }}
			div.h-spacer
			button.uk-button.uk-button-secondary(:disabled="page >= (getClientsAsPages.length - 1)", @click="page++")
				| Siguiente
				icon.big keyboard_arrow_right
</template>

<script>
import { ref, computed, onMounted } from 'vue'
import { fullName } from '@/lib/models/clients'
import { useStore } from 'vuex'
import { nullOnEmpty } from '@/lib/helpers'
import ClientSummary from '@/components/clients/Summary.vue'
import WaitingPoints from '@/components/WaitingPoints.vue'
import Icon from '@/components/Icon.vue'

export default {
	name: 'Clients/Get',
	components: {
		WaitingPoints,
		Icon,
		ClientSummary
	},
	setup() {
		const store = useStore()
		const loaded = ref(!store.getters['clients/isEmpty'])

		const searchTerm = ref(null)

		nullOnEmpty(searchTerm)

		const reload = async () => {
			loaded.value = false
			await store.dispatch('clients/reload')
			loaded.value = true
		}

		const getClientsAsPages = computed(() => store.state.clients.data
			.filter((el) => {
				if (searchTerm.value == null) return true

				let regexp = new RegExp(searchTerm.value.trim(), 'i')
				return regexp.test(el.nit.toString()) || regexp.test(fullName(el))
			})
			.reduce((acc, el) => {
				let lastIdx = acc.length - 1
				if (acc[lastIdx].length <= 10) {
					acc[lastIdx].push(el)
				} else {
					acc.push([el])
				}
		
				return acc
			}, [[]])
		)
		const hasClients = computed(() => getClientsAsPages.value.length >= 1)
		const page = ref(0)

		onMounted(async () => {
			await store.dispatch('clients/load')
			loaded.value = true
		})

		return {
			getClientsAsPages,
			hasClients,
			loaded,

			searchTerm,
			page,

			reload
		}
	}
}
</script>