<template lang="pug">
div.uk-card.card-form.uk-card-default
	div.uk-card-header
		h1.uk-heading(v-if="clientExists") Modificar cliente "{{ nit }}"
		h1.uk-heading(v-else) Crear cliente
	div.uk-card-body
		div.uk-margin
			label.uk-form-label N° de Identificacion
			div.uk-form-controls: div(uk-grid)
				select.uk-select(class="uk-width-1-3@l", v-model="nitType", :disabled="nit == null")
					option(disabled, hidden, :value="null") Tipo de Identificacion
					option(value="TI") Tarjeta de Identidad
					option(value="CC") Cedula de Ciudadania
					option(value="CE") Cedula de Extranjeria
				input.uk-input(class="uk-width-expand@l", v-model="nit", inputmode="numeric", type="text", placeholder="N° de Identificacion")
		div.uk-margin
			label.uk-form-label Nombres
			div.uk-form-controls
				div(uk-grid)
					input.uk-input(class="uk-width-1-2@m", :disabled="nit == null", v-model="firstName", type="text", placeholder="Primer Nombre")
					input.uk-input(class="uk-width-1-2@m", :disabled="nit == null", v-model="secondName", type="text", placeholder="Segundo Nombre")
				div(uk-grid)
					input.uk-input(class="uk-width-1-2@m", :disabled="nit == null", v-model="firstLastName", type="text", placeholder="Primer Apellido")
					input.uk-input(class="uk-width-1-2@m", :disabled="nit == null", v-model="secondLastName", type="text", placeholder="Segundo Apellido")
		div.uk-margin
			label.uk-form-label Correo Electronico
			div.uk-form-controls
				input.uk-input(v-model="email", :disabled="nit == null", inputmode="email", type="text", placeholder="Correo Electronico")
		div.uk-margin
			label.uk-form-label Telefonos
			div.uk-form-controls: div(uk-grid, v-for="(phone, i) in phones")
				input.uk-input.uk-width-expand(:value="phone", @input="handleNumber(i, $event.target)", inputmode="numeric", type="text", :placeholder="`Telefono #${i}`")
				button.uk-button.uk-button-danger.uk-width-auto(@click="removeNumber(i)")
					icon.big remove
		div.uk-margin
			button.uk-button(@click="addNumber()", :disabled="nit == null", style="width: 100%;") Agregar Telefono
	div.uk-card-footer
		button.uk-button.uk-button-primary(@click="send()") {{ (clientExists)? 'Modificar' : 'Crear'}}
</template>

<script>
import { inject, computed, ref, onMounted, watch } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useStore } from 'vuex'
import { toNumeric, toCapital, nullOnEmpty } from '@/lib/helpers'
import { reduceInt } from '@/lib/parsing'
import { notify } from '@/lib'
import { emailRegexp } from '@/lib/validators'

import Icon from '@/components/Icon.vue'
import { errorNames } from '@/lib/errors'

export default {
	name: 'Clients/Set',
	components: {
		Icon
	},
	setup() {
		const errorStore = inject('errorStore')
		const store = useStore()
		const route = useRoute()
		const router = useRouter()

		const nit = ref(null)
		const nitType = ref(null)
		const firstName = ref(null)
		const secondName = ref(null)
		const firstLastName = ref(null)
		const secondLastName = ref(null)
		const email = ref(null)
		const phones = ref([])

		if (route.query.nit) {
			let parsedValue = route.query.nit * 1
			if (!isNaN(parsedValue)) {
				nit.value = parsedValue
			} else {
				errorStore.commit('load', {
					name: errorNames.data,
					path: route.path,
					description: 'Can\'t parse query nit'
				})
			}
		}

		const clientExists = computed(() => store.getters['clients/asMap'][nit.value] !== undefined)
		const loadUser = () => {
			if (clientExists.value) {
				let data = store.getters['clients/asMap'][nit.value]
				nit.value = data.nit
				nitType.value = data.nitType
				firstName.value = data.names.firstName
				secondName.value = data.names.secondName
				firstLastName.value = data.names.firstLastName
				secondLastName.value = data.names.secondLastName
				email.value = data.email
				phones.value = [...data.phones]
			} else {
				nitType.value = null
				firstName.value = null
				secondName.value = null
				firstLastName.value = null
				secondLastName.value = null
				email.value = null
				phones.value = []
			}
		}

		toNumeric(nit)
		watch(nit, loadUser)

		toCapital(firstName)
		toCapital(secondName)
		toCapital(firstLastName)
		toCapital(secondLastName)

		nullOnEmpty(email)

		const handleNumber = (i, target) => {
			let phonesVal = phones.value
			phonesVal[i] = reduceInt(target.value)
			target.value = phonesVal[i]

			phones.value = phonesVal.filter(el => el != null)
		}

		const removeNumber = (i) => {
			phones.value = phones.value.filter((el, idx) => idx != i)
		}

		const addNumber = () => {
			phones.value = [...phones.value, 0]
		}

		const check = () => {
			if (
				nit.value == null            ||
				nitType.value == null        ||
				firstName.value == null      ||
				firstLastName.value == null  ||
				email.value == null
			) {
				notify({
					type: 'danger',
					message: 'Los campos: N° de Identificacion, Tipo de Identificacion, Correo Electronico, Primer Nombre y Apellido son requeridos'
				})
				return false
			}

			if (!emailRegexp.test(email.value)) {
				notify({
					type: 'danger',
					message: 'El correo electronico no es valido'
				})
				return false
			}

			return true
		}

		const send = async () => {
			if (!check()) return null

			const data = {
				nitType: nitType.value,
				names: {
					firstName: firstName.value,
					firstLastName: firstLastName.value,
					secondName: secondName.value?? undefined,
					secondLastName: secondLastName.value?? undefined,
				},
				email: email.value,
				phones: phones.value
			}

			try {
				if (clientExists.value) {
					await store.dispatch('clients/update', {
						nit: nit.value,
						client: data
					})
				} else {
					data.nit = nit.value
					await store.dispatch('clients/create', data)
				}
			} catch (err) {
				errorStore.commit('load', {
					...err,
					path: route.path,
				})

				return null
			}

			notify({
				type: 'success',
				message: `El cliente "${nitType.value} ${nit.value}" fue guardado exitosamente`
			})
			return await router.push('/clients')
		}

		onMounted(async () => {
			await store.dispatch('clients/load')

			loadUser()
		})

		return {
			nit,
			nitType,
			firstName,
			secondName,
			firstLastName,
			secondLastName,
			email,
			phones,

			handleNumber,
			removeNumber,
			addNumber,
			send,

			clientExists
		}
	}
}
</script>