<template lang="pug">
div.uk-card.card-page.uk-card-default
	div.uk-card-header
		h1.uk-heading
			icon.big report_problem
			| &ensp;Error interno de la aplicacion, Nombre: "{{ store.errorName }}".
	div.uk-card-body
		p La pagina
			code {{ store.path }}
			| sufrio un error inesperado.
		p Descripcion:
			code {{ store.description }}
	div.uk-card-footer
		button.uk-button.uk-button-primary(@click="clear") Ir a la pagina de inicio
</template>

<script>
import { inject } from 'vue'
import Icon from '@/components/Icon.vue'

export default {
	name: 'Errors/Internal',
	components: {
		Icon
	},
	setup() {
		const store = inject('errorStore')

		return {
			store: store.state,
			clear: () => store.commit('clear')
		}
	}
}
</script>