<template lang="pug">
div.uk-card.card-page.uk-card-default
	div.uk-card-header
		h1.uk-heading
			icon.big sentiment_very_dissatisfied
			| &ensp;Pagina no encontrada.
	div.uk-card-body
		p La pagina "{{ queryPath }}" no existe o no esta disponible.
	div.uk-card-footer
		router-link.uk-button.uk-button-primary(to="/") Ir a la pagina de inicio
		div.h-spacer
		a.uk-button.uk-button-default(@click="goBack") Volver a la pagina anterior

</template>

<script>
import { computed } from 'vue'
import { useRouter } from 'vue-router'

import Icon from '@/components/Icon.vue'

export default {
	name: 'Errors/NotFound',
	components: {
		Icon
	},
	props: {
		path: {
			type: Array,
			required: true
		}
	},
	setup({ path }) {
		const router = useRouter()

		const queryPath = computed(() => `/${path.join('/')}`)
		const goBack = router.back

		return {
			queryPath,
			goBack
		}
	}
}
</script>