<template lang="pug">
h5.uk-heading Datos del Cliente
client-data(:value="client")
h5.uk-heading Datos de la Cita
ul.uk-list.uk-list-hyphen
	li
		b Fecha de Inicio:
		| &ensp;{{ startAt }}
	li
		b Fecha de Finalizacion:
		| &ensp;{{ endAt }}
div(v-if="value.description")
	hr
	h5 Descripcion de la Cita
	markdown(:data="value.description")
</template>

<script>
import ClientData from '@/components/clients/Data.vue'
import Markdown from '@/components/MarkDown.vue'

import { parseDateWithTime as parseDate } from '@/lib/dates'

export default {
	name: 'Appointments/Data',
	components: {
		ClientData,
		Markdown
	},
	props: {
		value: Object
	},
	setup({ value }) {
		const startAt = parseDate(value.startAt)
		const endAt = parseDate(value.endAt)

		return {
			startAt,
			endAt,

			client: value.client
		}
	}
}
</script>