<template lang="pug">
h1.uk-heading.uk-text-center(v-if="!hasAppointments")
	icon.big event_busy
	| &ensp;No hay ninguna cita guardada.
div.uk-card.card-page.uk-card-default(v-else)
	div.uk-card-header
		h1.uk-heading
			icon.big event_note
			| &ensp;Lista de Citas.
		h3.uk-heading-bullet(v-if="description") {{ description }}
	ul.uk-card-body(uk-accordion)
		appointment-summary(v-for="appointment in appointments", :value="appointment")
</template>

<script>
import { computed } from 'vue'
import AppointmentSummary from './Summary.vue'
import Icon from '@/components/Icon.vue'

export default {
	name: 'Appointments/List',
	components: {
		AppointmentSummary,
		Icon
	},
	props: {
		appointments: Array,
		description: {
			required: false,
			type: String
		}
	},
	setup({ appointments }) {
		const hasAppointments = computed(() => appointments.length >= 1)

		return {
			hasAppointments
		}
	}
}
</script>

<style lang="sass" scoped>
ul.uk-card-body
	padding-bottom: 2em
</style>