<template lang="pug">
li.list-item
	a.uk-accordion-title {{ startAt }} - {{ fullNit }}
	div.uk-accordion-content
		Appointment-data(:value="value")
		hr
		router-link.uk-button(:to="`/appointments/set?id=${value.id}`") Modificar
		div.h-spacer
		router-link.uk-button.uk-button-danger(:to="`/appointments/delete/${value.id}`") Eliminar
</template>

<script>
import AppointmentData from '@/components/appointments/Data.vue'
import { parseDateWithTime as parseDate } from '@/lib/dates'

export default {
	name: 'Appointments/Summary',
	components: {
		AppointmentData
	},
	props: {
		value: Object
	},
	setup({ value }) {
		const startAt = parseDate(value.startAt)

		return {
			startAt,
			fullNit: `${value.client.nitType} ${value.client.nit}`
		}
	}
}
</script>