<template lang="pug">
nav-bar#navbar(v-if="isLoggedIn || !userModuleEnable")
router-view#view(v-slot="{ Component }")
	transition(name="fade")
		component(:is="Component")
</template>

<script>
import { onMounted, computed, watch, ref, provide } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useStore } from 'vuex'
import { errorStore } from '@/store'

import NavBar from '@/components/NavBar.vue'

import { runMiddlewares } from '@/middlewares'
import titleSwitchMiddleware from '@/middlewares/titleSwitchMiddleware'

export default {
	name: 'App',
	components: {
		NavBar
	},
	setup() {
		const store = useStore()
		const route = useRoute()
		const router = useRouter()
		const userModuleEnable = ref(true)

		provide('errorStore', errorStore)

		onMounted(async () => {
			watch(route, () => runMiddlewares([titleSwitchMiddleware], { route }))

			const userConf = await store.getters['config/userModule']
			userModuleEnable.value = userConf.userModule
		})

		errorStore.subscribe((mutation) => {
			if (mutation.type == 'load') {
				router.replace('/errorHandler')
			} else if (mutation.type == 'clear') {
				router.replace('/')
			}
		})

		const isLoggedIn = computed(() => store.getters['user/loggedIn'])

		return {
			isLoggedIn,
			userModuleEnable
		}
	}
}
</script>