<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
		<link rel="icon" href="<%= BASE_URL %>favicon.ico">
		<title>Whats Now</title>
	</head>
	<body>
		<noscript>
			<strong>We're sorry but "Whats Now" doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
		</noscript>
		<div id="app"></div>
		<!-- built files will be auto injected -->
	</body>
</html>
