<template lang="pug">
div
	h1.uk-heading.uk-text-center Creditos &amp; Copyright
	p.uk-text-center &copy; Everest Code &#124; 2019 - {{ (new Date()).getFullYear() }}

	h2.uk-heading-line: span Colaboradores
	table.uk-table.uk-table-justify.uk-table-striped: tbody
		tr
			td: b Carlos Daniel Angel
			td: ul.uk-list.uk-list-hyphen
				li
					uk-icon(value="server")
					| &ensp;Codigo Backend
				li
					uk-icon(value="database")
					| &ensp;Diseño Base de Datos
		tr
			td: b Sebastian Valencia Tangarife
			td: ul.uk-list.uk-list-hyphen
				li
					uk-icon(value="server")
					| &ensp;Codigo Backend
				li
					uk-icon(value="code")
					| &ensp;Codigo Frontend
		tr
			td: b Isabella Morales Hernandez
			td: ul.uk-list.uk-list-hyphen
				li
					uk-icon(value="image")
					| &ensp;Diseño Grafico
		tr
			td: b Camila Garzon
			td: ul.uk-list.uk-list-hyphen
				li
					uk-icon(value="image")
					| &ensp;Diseño Grafico
	
	h2.uk-heading-line: span Tecnologias
	ul.uk-list.uk-list-square
		li
			uk-icon(value="database")
			b &ensp;Base de Datos:&ensp;
			a.uk-link-text(target="blank", href="https://www.mongodb.com/es") MongoDB
		li
			uk-icon(value="server")
			b &ensp;BackEnd:&ensp;
			a.uk-link-text(target="blank", href="https://www.python.org/") Python
			| &ensp;&amp;&ensp;
			a.uk-link-text(target="blank", href="https://flask.palletsprojects.com/en/1.1.x/") Flask
		li
			uk-icon(value="code")
			b &ensp;FrontEnd:&ensp;
			a.uk-link-text(target="blank", href="https://nodejs.org/es/") Node.JS
		li
			uk-icon(value="settings")
			b &ensp;Framework FrontEnd:&ensp;
			a.uk-link-text(target="blank", href="https://v3.vuejs.org/") Vue.JS
		li
			uk-icon(value="paint-bucket")
			b &ensp;Framework FrontEnd:&ensp;
			a.uk-link-text(target="blank", href="https://getuikit.com/") UIkit
	div.v-spacer
	div(uk-grid, class="uk-child-width-1-2@m uk-child-width-1-1")
		div.uk-card.uk-card-default
			div.uk-card-header
				h1.uk-heading.uk-text-center Everest Code&trade;
			div.uk-card-body
				img.full(src="../assets/brand.png")
		div.uk-card.uk-card-default
			div.uk-card-header
				h1.uk-heading.uk-text-center: a.uk-link-text(target="blank", href="http://whats-now.io") Whats-Now.io
			div.uk-card-body
				img.full(src="../assets/logo.png")
</template>

<script>
import UkIcon from '@/components/UkIcon.vue'

export default {
	name: 'Credits',
	components: {
		UkIcon
	}
}
</script>

<style lang="sass" scoped>
#view
	max-width: 90%
	margin-left: auto
	margin-right: auto

img.full
	max-width: 100%
</style>