<template lang="pug">
div
	p(v-for="i in 10") hola que hace
</template>

<script>
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'

import stayLoggedIn from '@/middlewares/stayLoggedIn'
import isInstalledMiddleware from '@/middlewares/isInstalledMiddleware'
import { runMiddlewares } from '@/middlewares'

export default {
	name: 'Home',
	setup() {
		const store = useStore()
		const router = useRouter()

		runMiddlewares([
			isInstalledMiddleware,
			stayLoggedIn
		], {
			store,
			router
		})
	}
}
</script>
