<template lang="pug">
div.uk-card.card-form.uk-card-default
	div.uk-card-header
		h1.uk-heading Instalacion
	div.uk-card-body.uk-form-stacked
		div.uk-margin
			label.uk-form-label N° de Identificacion
			div.uk-form-controls
				div.uk-inline
					icon.uk-form-icon vpn_key
					input.uk-input(v-model="nit", type="text", placeholder="N° de Identificacion")
		div.uk-margin
			label.uk-form-label Nombre Completo
			div.uk-form-controls
				div.uk-inline
					icon.uk-form-icon person
					input.uk-input(v-model="fullName", type="text", placeholder="Nombre Completo")
		div.uk-margin
			label.uk-form-label Contraseña
			div.uk-form-controls
				div.uk-inline
					icon.uk-form-icon lock{{ (showPassword)? '_open' : null }}
					input.uk-input(v-model="password", :type="(showPassword)? 'text' : 'password'", placeholder="Contraseña")
		div.uk-margin
			label.uk-form-label Confirmar Contraseña
			div.uk-form-controls
				div.uk-inline
					icon.uk-form-icon lock{{ (showPassword)? '_open' : null }}
					input.uk-input(v-model="confirmPassword", :type="(showPassword)? 'text' : 'password'", placeholder="Confirmar Contraseña")
				input.uk-checkbox(v-model="showPassword", type="checkbox")
				span.text-checkbox(@click="showPassword = !showPassword") Mostrar contraseña
	div.uk-card-footer
		button.uk-button.uk-button-primary(@click="send") Enviar
		div.h-spacer
		button.uk-button.uk-button-danger(@click="clearForm") Borrar
</template>

<script>
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
import { toNumeric, toCapital, nullOnEmpty } from '@/lib/helpers'
import { notify } from '@/lib'
import Icon from '@/components/Icon.vue'

export default {
	name: 'Install',
	components: {
		Icon
	},
	setup() {
		const router = useRouter()
		const store = useStore()

		const nit = ref(null)
		const fullName = ref(null)
		const password = ref(null)
		const confirmPassword = ref(null)
	
		toNumeric(nit)
		toCapital(fullName)
		nullOnEmpty(password)
		nullOnEmpty(confirmPassword)

		const showPassword = ref(false)

		const clearForm = () => {
			nit.value = null
			fullName.value = null
			password.value = null
			confirmPassword.value = null
			showPassword.value = false
		}

		const check = () => {
			if (
				nit.value             == null ||
				fullName.value        == null ||
				password.value        == null ||
				confirmPassword.value == null
			) {
				notify({
					type: 'danger',
					message: 'Todos los campos son requeridos',
					timeout: 3500
				})

				return false
			}

			if (password.value != confirmPassword.value) {
				notify({
					type: 'danger',
					message: 'Los campos de contraseña no coinciden',
					timeout: 3500
				})

				return false
			}

			return true
		}

		const send = async () => {
			if (!check()) return null

			const data = {
				nit: nit.value,
				fullName: fullName.value.toLowerCase(),
				password: password.value
			}

			let err = await store.dispatch('user/create', data)
			if (err) {
				if (err.name == 'ValidationError') {
					return notify({
						type: 'danger',
						message: 'La contraseña es muy corta',
						timeout: 3500
					})
				}

				notify({
					type: 'danger',
					message: 'Error de Conexion',
					timeout: 3500
				})

				return console.error(err)
			}

			notify({
				type: 'success',
				message: 'Aplicacion Instalada!!!',
				timeout: 6000
			})

			await store.dispatch('config/forceUpdateUserModule')
			await router.push('/')
		}

		return {
			nit,
			fullName,
			password,
			confirmPassword,

			showPassword,

			send,
			clearForm
		}
	}
}
</script>