<template lang="pug">
div.uk-card.card-form.uk-card-default
	div.uk-card-header
		h1.uk-heading Iniciar Sesion
	div.uk-card-body.uk-form-stacked
		div.uk-margin
			label.uk-form-label N° de Identificacion
			div.uk-form-controls
				div.uk-inline
					icon.uk-form-icon vpn_key
					input.uk-input(v-model="nit", type="text", placeholder="N° de Identificacion")
		div.uk-margin
			label.uk-form-label Contraseña
			div.uk-form-controls
				div.uk-inline
					icon.uk-form-icon lock{{ (showPassword)? '_open' : null }}
					input.uk-input(v-model="password", @keyup.enter="send", :type="(showPassword)? 'text' : 'password'", placeholder="Contraseña")
				input.uk-checkbox(v-model="showPassword", type="checkbox")
				span.text-checkbox(@click="showPassword = !showPassword") Mostrar contraseña
	div.uk-card-footer
		button.uk-button.uk-button-primary(@click="send") Iniciar Sesion
		div.h-spacer
		button.uk-button.uk-button-danger(@click="clearForm") Borrar
</template>

<script>
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
import { toNumeric, nullOnEmpty } from '@/lib/helpers'
import { notify } from '@/lib'
import { capitalize } from '@/lib/parsing'
import Icon from '@/components/Icon.vue'

export default {
	name: 'Login',
	components: {
		Icon
	},
	setup() {
		const store = useStore()
		const router = useRouter()

		const nit = ref(null)
		const password = ref(null)

		toNumeric(nit)
		nullOnEmpty(password)

		const showPassword = ref(false)

		const clearForm = () => {
			nit.value = null
			password.value = null
			showPassword.value = false
		}

		const check = () => {
			if (
				nit.value      == null ||
				password.value == null
			) {
				notify({
					type: 'danger',
					message: 'Todos los campos son requeridos',
					timeout: 3500
				})
				return false
			}

			return true
		}

		const send = async () => {
			if(!check()) return null

			const data = {
				nit: nit.value,
				password: password.value,
			}

			let fullName
			try {
				fullName = await store.dispatch('user/login', data)
			} catch (err) {
				notify({
					type: 'danger',
					message: 'Error de Conexion',
					timeout: 3500
				})

				return console.error(err)
			}

			if (fullName == null) {
				return notify({
					type: 'danger',
					message: 'Credenciales no coinceden, revisa e intenta nuevamente.',
					timeout: 3500
				})
			}

			notify({
				type: 'success',
				message: `Sesion Iniciada, Bienvenido ${capitalize(fullName)}`,
				timeout: 6000
			})

			await router.push('/')
		}

		return {
			nit,
			password,

			showPassword,

			clearForm,
			send
		}
	}
}
</script>