<template lang="pug">
h1.uk-heading-large.uk-text-center
	| Cerrando Sesion
	waiting-points
</template>

<script>
import { onMounted } from 'vue'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'
import WaitingPoints from '@/components/WaitingPoints.vue'

export default {
	name: 'Logout',
	components: {
		WaitingPoints
	},
	setup() {
		const store = useStore()
		const router = useRouter()

		onMounted(async () => {
			store.commit('user/logout')

			await router.push('/')
		})
	}
}
</script>